= render 'shared/svg_sprites'
.d-flex.flex-column.justify-content-center.align-items-center.gap-3.mb-4
  %svg.arrow-button-svg
    %use(xlink:href="#arrow-bottom")

  - shorten_url = @link.shorten_url
  = link_to shorten_url, shorten_url, class: 'btn btn-success', target: '_blank'
